﻿@model OrderSection.Client.ViewModel.OrderModelIdexer

@{
    /**/

    ViewBag.Title = "Order";
}

<h2>Order</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ WebGrid obj = new WebGrid(source: Model.OrderEntityCollection, canPage: true, rowsPerPage: 10); }
@obj.GetHtml()

@{ WebGrid obj1 = new WebGrid(source: Model.Order_ItemsEntityCollection, canPage: true, rowsPerPage: 10); }
@obj1.GetHtml()


@{ WebGrid obj2 = new WebGrid(source: Model.ProductEntityCollection, canPage: true, rowsPerPage: 10); }
@obj2.GetHtml()


@{ WebGrid obj3 = new WebGrid(source: Model.StatusEntityCollection, canPage: true, rowsPerPage: 10); }
@obj3.GetHtml()


@{ WebGrid obj4 = new WebGrid(source: Model.CategoryEntityCollection, canPage: true, rowsPerPage: 10); }
@obj4.GetHtml()