﻿@{
    ViewBag.Title = "Home Page";
}


<body>
   
    <div class="jumbotron">
        <div class="container">
            <h1>Sales Order Section</h1>
            <div class="row">
                <div class="col-md-6 col-md-offset-0">
                    <div class="row">
                        <div class="col-md-12">
                            <header>
                                <h2 class="text-left">Technology Stack</h2>
                            </header>
                        </div>
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item"><span><strong>Database</strong> </span></li>
                                <li class="list-group-item"><span>C# </span></li>
                                <li class="list-group-item"><span>Enitity Framework</span></li>
                                <li class="list-group-item"><span>LINQ </span></li>
                                <li class="list-group-item"><span>Web API</span></li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item"><span><strong>Client Side - ASP.NET</strong></span></li>
                                <li class="list-group-item"><span>C# </span></li>
                                <li class="list-group-item"><span>MVC </span></li>
                                <li class="list-group-item"><span>Bootstrap </span></li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item"><span><strong>Client Side - Angular 2</strong></span></li>
                                <li class="list-group-item"><span>Typescript </span></li>
                                <li class="list-group-item"><span>Bootstrap </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Approach </h2>
                    <p><strong>Languages : </strong>C# as core language, LINQ for data querying.</p>
                    <p><strong>Frameworks : </strong>Entity framework migrations helps with maintainance and documentation of the database table fields updates. </p>
                    <p><strong>Patterns : </strong>MVC for the separations of consern and maintainability of the application.</p>
                    <p>
                        <strong>Summary : </strong>I used the WebAPI to create RESTful connection to the database decaupling it from the rest of the app archieving a two tier achietectural design. This will also enable mutilple connection to the database
                        via JSON and XML enabling access to any many client that uses this protocol.
                    </p>
                    <p><strong> </strong>I used a class library to decauple the ORMs from the WebAPI so that a change in ORMs does not affect the WebIPI, archieving a two layered achietectural design within the DAL. </p>
                    <p><strong> </strong>Repository parrten was used to store all query logic to archieve DRY code Hence better mainance.</p>
                    <p>
                        <button class="btn btn-warning btn-block" type="button" data-toggle="modal" data-target="#orderModal">Make Your Order</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="quantityModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Quantity </h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" style="background-color:orange">R 45 000</span>
                        <input type="number" min="1" max="100">
                        <button class="btn btn-default" type="button">Button</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="orderModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Shop </a></li>
                            <li><a href="#tab-2" role="tab" data-toggle="tab">Cart </a></li>
                            <li><a href="#tab-3" role="tab" data-toggle="tab">History </a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item quantity-popover" type="button" data-toggle="popover" title="Quantity"><span>List Group Item 2</span></li>
                                            <li class="list-group-item" id="ee" data-toggle="modal" data-target="#quantityModal"><span class="quantity-popover">Mack Book Pro</span></li>
                                            <li class="list-group-item"><span>List Group Item</span></li>
                                        </ul>
                                        <div class="panel-group" role="tablist" aria-multiselectable="true" id="accordion-1">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" href="#accordion-1 .item-1">Accordion Item</a></h4>
                                                </div>
                                                <div class="panel-collapse collapse in item-1" role="tabpanel">
                                                    <div class="panel-body"><span>Item body.</span></div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-2">Accordion Item</a></h4>
                                                </div>
                                                <div class="panel-collapse collapse item-2" role="tabpanel">
                                                    <div class="panel-body"><span>Item body.</span></div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="false" href="#accordion-1 .item-3">Accordion Item</a></h4>
                                                </div>
                                                <div class="panel-collapse collapse item-3" role="tabpanel">
                                                    <div class="panel-body"><span>Item body.</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <p>Second tab content.</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="jumbotron">
                                            <div class="container">
                                                <h1>Heading text</h1>
                                                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Qty </th>
                                                                        <th>Item </th>
                                                                        <th>Price </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Cell 1</td>
                                                                        <td>Cell 1</td>
                                                                        <td>Cell 1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Cell 3</td>
                                                                        <td>Cell 3</td>
                                                                        <td>Cell 3</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr class="hidden">
                                                                        <th>Column 1</th>
                                                                        <th>Column 2</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Sub Total</td>
                                                                        <td>Cell 2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>VAT 15 %</td>
                                                                        <td>Cell 4</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><strong>Total</strong> </td>
                                                                        <td><strong>R Cell 2</strong></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <p>Third tab content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="testContent">
        <div>
            <input class="input-sm" type="number" placeholder="1" min="1" max="25" step="true">
            <hr>
        </div>
        <div class="input-group"></div>
    </div>
    <ul class="friend-list">
        <li class="active bounceInDown">
            <a href="#" class="clearfix d-flex justify-content-between">
                <img src="assets/img/Copyright_Thanda_Kunene_2015IMG_1940.jpg" class="img-circle">
                <label class="friend-name">Mac Book Pro </label><i class="glyphicon glyphicon-star fa fa-cart-arrow-down clearfix"></i>
            </a>
        </li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/order.js"></script>
</body>